[data-theme="dark"] {
    --background-color: #192734;
    --color: rgb(247, 247, 247);
    --filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(49deg) brightness(118%) contrast(89%);
}

[data-theme="light"] {
    --background-color: rgb(247, 247, 247);
    --color: #333;
}

.dm-button {
    border: none;
    outline-style: none;
    text-decoration: none;
    height: 30px;
    position: absolute;
    top: 85px;
	padding-left:10px;
    cursor: pointer;
    filter: var(--filter);
}