/* darkmode switching is still a work in progress */
.dark-mode {
    --background-color: #192734;
    --color: rgb(247, 247, 247);
}

.dm-button {
    border: none;
    border-inline-end-style: 0;
    outline-style: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    float: left;
}