/* darkmode switching is still a work in progress */
[data-theme="dark"] {
    --background-color: #192734;
    --color: rgb(247, 247, 247);
}

[data-theme="light"] {
    --background-color: rgb(247, 247, 247);
    --color: #333;
}

.dm-button {
    border: none;
    outline-style: none;
    text-decoration: none;
    height: 30px;
    position: absolute;
    top: 85px;
	padding-left:10px;
    cursor: pointer;
}