/* text and body color and propertys */
:root {
    --background-color: rgb(247, 247, 247);
    --color: #333;
}
body {
    background: var(--background-color);
    color: var(--color);
    zoom: 140%;
}

.container-fluid {
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
    min-height:100%
}
.container-articles {
    padding-left: 100px;
    padding-right: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
	padding-bottom: 23px;
}

/* link styling*/
a { 
    color: #dc8100; text-decoration: none; 
}
a:hover { 
    color: #333; text-decoration: none; 
}

/* scroll bar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navbar list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 10px;
}

/* footer */
footer {
	position:relative;
	height:23;
	margin-top:-23;
	clear:both;
	font-size: 12px;
}
