/* mobile styling */
@media only screen and (max-device-width: 420px) {
    body {
        zoom: 200%;
        font-size: 120%;
    }
    .container-fluid {
        padding-right: 40px;
        padding-left: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    h1.text-center {
        margin-bottom: 15px;
        margin-top: -10px;
    }
    .dm-button {
        border: none;
        outline-style: none;
        text-decoration: none;
        height: 30px;
        position: absolute;
        top: 85px;
        filter: var(--filter);
    }
    /* add spacing to footer */
    p.text-muted.text-center {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .container-articles {
        padding-left: 20px;
        padding-right: 30px;
        margin-right: auto;
        margin-left: auto;
        overflow: auto;
    }
}